mixin card-product(imgPathMobile, imgPath, textAlt, nameProduct, link, priceName)
  .card-product(name= priceName)
    .card-product__top
      img(src= imgPathMobile, alt= textAlt).card-product__top-img
      img(src= imgPath, alt= textAlt).card-product__top-img
    .card-product__name-product #{nameProduct}
    a(href= link).card-product__button
      <span class="card-product__button-title"> Цена</span><br> от
      <span data-starting-price></span> &#8381 до <span data-final-price></span> &#8381 за кг.

mixin cards-short-description(imgSrc, imgAlt, date, subtitle, cardText, bottomText)
  .cards-short-description
    .cards-short-description__head-img-wrap
      img(src= imgSrc, alt= imgAlt).cards-short-description__head-img
    .cards-short-description__text-wrap
      .cards-short-description__date #{date}
      .cards-short-description__subtitle #{subtitle}
      .cards-short-description__text #{cardText}
    .cards-short-description__battom-wrap
      a(href="#").cards-short-description__battom-link #{bottomText}

mixin card-product-price(id, images, title, rowsWeightSelfDelivery, rowsWeightOurDelivery, unit)
  .price-product-card(id= id)
    .price-product-card__img-wrap
      each img in images
        img(src= img.src alt= img.alt class= img.class)
    .price-product-card__body
      h3.price-product-card__title #{title}
      .flex-container-between.flex-container-between--flex-wrap-max-width-992

        .price-product-card__item-delivery(data-delivery="self-delivery")
          .price-product-card__item-delivery-title Подвоз вашим транспортом:
          .border-right-wrap.border-right-wrap--show-desktop
            each row in rowsWeightSelfDelivery
              if row.subtitle
                .price-product-card__item-delivery-row
                  .text-bold #{row.subtitle}
              each weight in row.weight
                .price-product-card__item-delivery-row(data-weight= weight['data-weight'], data-product= weight.product)
                  .price-product-card__item-delivery-name
                    .icon-libra-wrap
                      img(src="assets/img/price/libra.png", alt="грузик")
                    .text #{weight.text}
                  .price-product-card__item-delivery-price
                    .icon-currency &#8381
                    .text <span class="price-product-card__output-price"></span> р/#{unit}

        .price-product-card__item-delivery(data-delivery="our-delivery")
          .price-product-card__item-delivery-title Транспорт компании "Миротворец":
            each row in rowsWeightOurDelivery
              if row.subtitle
                .price-product-card__item-delivery-row
                  .text-bold #{row.subtitle}
              each weight in row.weight
                .price-product-card__item-delivery-row(data-weight= weight['data-weight'], data-product= weight.product)
                  .price-product-card__item-delivery-name
                    .icon-libra-wrap
                      img(src="assets/img/price/libra.png", alt="грузик")
                    .text #{weight.text}
                  .price-product-card__item-delivery-price
                    .icon-currency &#8381
                    .text <span class="price-product-card__output-price"></span> р/#{unit}
