include buttons.pug

mixin card-product(imgPathMobile, imgPath, textAlt, nameProduct, link, priceName)
  .card-product(name= priceName)
    .card-product__top
      img(src= imgPathMobile, alt= textAlt).card-product__top-img
      img(src= imgPath, alt= textAlt).card-product__top-img
    .card-product__name-product #{nameProduct}
    a(href= link).card-product__button
      <span class="card-product__button-title"> Цена</span><br> от
      <span data-starting-price></span> &#8381 до <span data-final-price></span> &#8381 за кг.

mixin cards-short-description(imgSrc, imgAlt, date, subtitle, cardText, link, bottomText)
  .cards-short-description
    .cards-short-description__head-img-wrap
      img(src= imgSrc, alt= imgAlt).cards-short-description__head-img
    .cards-short-description__text-wrap
      .cards-short-description__date #{date}
      .cards-short-description__subtitle #{subtitle}
      .cards-short-description__text #{cardText}
    .cards-short-description__battom-wrap
      a(href= link target='_BLANK').cards-short-description__battom-link #{bottomText}

mixin card-product-price(id, images, title, rowsWeightSelfDelivery, rowsWeightOurDelivery, unit)
  .price-product-card(id= id)
    .price-product-card__img-wrap
      each img in images
        img(src= img.src alt= img.alt class= img.class)
    .price-product-card__body
      h3.price-product-card__title #{title}
      .flex-container-between.flex-container-between--flex-wrap-max-width-992

        .price-product-card__item-delivery(data-delivery="self-delivery")
          .price-product-card__item-delivery-title Подвоз вашим транспортом:
          .border-right-wrap.border-right-wrap--show-desktop
            each row in rowsWeightSelfDelivery
              if row.subtitle
                .price-product-card__item-delivery-row
                  .text-bold #{row.subtitle}
              each weight in row.weight
                .price-product-card__item-delivery-row(data-weight= weight['data-weight'], data-product= weight.product)
                  .price-product-card__item-delivery-name
                    .icon-libra-wrap
                      img(src="assets/img/price/libra.png", alt="грузик")
                    .text #{weight.text}
                  .price-product-card__item-delivery-price
                    .icon-currency &#8381
                    .text <span class="price-product-card__output-price"></span> р/#{unit}

        .price-product-card__item-delivery(data-delivery="our-delivery")
          .price-product-card__item-delivery-title Транспорт компании "Миротворец":
            each row in rowsWeightOurDelivery
              if row.subtitle
                .price-product-card__item-delivery-row
                  .text-bold #{row.subtitle}
              each weight in row.weight
                .price-product-card__item-delivery-row(data-weight= weight['data-weight'], data-product= weight.product)
                  .price-product-card__item-delivery-name
                    .icon-libra-wrap
                      img(src="assets/img/price/libra.png", alt="грузик")
                    .text #{weight.text}
                  .price-product-card__item-delivery-price
                    .icon-currency &#8381
                    .text <span class="price-product-card__output-price"></span> р/#{unit}

mixin card-services-price(id, images, title, rowsWeightSelfDelivery, price)
  .price-product-card(id= id)
    .price-product-card__img-wrap
      each img in images
        img(src= img.src alt= img.alt class= img.class)
    .price-product-card__body
      h3.price-product-card__title #{title[0]}
      .flex-container-between.flex-container-between--flex-wrap-max-width-992

        .price-product-card__item-delivery.price-product-card__item-delivery--full-width
          .price-product-card__item-delivery-title #{title[1]}
            each row in rowsWeightSelfDelivery
              if row.subtitle
                .price-product-card__item-delivery-row
                  .text-bold #{row.subtitle}
              each weight in row.weight
                .price-product-card__item-delivery-row
                  .price-product-card__item-delivery-name
                    .icon-libra-wrap.icon-libra-wrap--svg
                      if (weight.icon == 'shredder')
                        include ../../svg/price/shredder_icon.svg
                      if (weight.icon == 'storage')
                        include ../../svg/price/storagebox.svg
                    .text #{weight.text}
                  .price-product-card__item-delivery-price
                    .icon-currency &#8381
                  each item in price
                    .text <span>#{item.number}</span> р/#{item.unit}

mixin card-packing-rules(images, title, description, mb)
  .price-product-card
    .price-product-card__img-wrap
      each img in images
        img(src= img.src alt= img.alt class= img.class)
    .price-product-card__body.price-product-card__body--padding-right-20
      h3.price-product-card__title #{title}
      ul.ul-reset-margin-left
        each row in description
          if mb
            li(class='list-marker-color-custom ' + mb)
              span.text #{row}
          else
            li(class='list-marker-color-custom')
              span.text #{row}

mixin card-buy(data, img, bodyContent, link)
  .card-buy(data-product-name= data.attr)
    .card-buy__img-wrap
      each itemImg in img
        img(src= itemImg.src, class='card-buy__img ' + itemImg.class, alt= itemImg.alt)
    .card-buy__body
      h2.price-product-card__title #{bodyContent.title}
      .card-buy__subtitle #{bodyContent.subtitle}
      ul.ul-reset-margin-left
        each list in bodyContent.list
          li(class='list-marker-color-custom')
            span.card-buy__text #{list}
    .card-buy__footer
      h3.card-buy__subtitle Цена:
      ul.ul-reset-margin-left
        li(class='list-marker-color-custom')
          span.card-buy__text От #[span.card-buy__output-price-min] р. до #[span.card-buy__output-price-max] р. за кг.
          .text-small * более подробно о ценах вы можете #[a(href= 'price.html'+link.price, class="card-buy__link" target="_BLANK") узнать здесь]
      .card-buy__button-row
        a(href= link.calculate class='card-buy__button card-buy__button--type-b') Расчитать стоимость
        a(href= link.order class='card-buy__button') оформить заявку

mixin card-full-width(cardsModifier)
  div(class= cardsModifier ? 'card-full-width ' + cardsModifier : 'card-full-width')
    block

mixin pallets-cards-content(img, text)
  .pallets-cards__img
    .pallets-cards__img-wrap
      img(src= img.src, alt= img.alt)
  .pallets-cards__text
    each row in text
      p.text #{row}
  .pallets-cards__interaction
    .pallets-cards-calc__output-sum 1 000 Р.
    .pallets-cards-calc
      .pallets-cards-calc__plus +
      input(class="pallets-cards-calc__amount" type="number" value="0")
      .pallets-cards-calc__minus -
    +button-link-type-a('#', 'заказать', 'pallets-cards__interaction-button')
